$color-white-primary: #fff;
$color-black-primary: #333;

$transition-1: all 200ms ease-out;
$opacity-trans: opacity 200ms ease-out;

$media-smallest: 31.25em;

$margin-bottom: 1.2rem;
$padding-button: 0.5rem 1.5rem;
$letter-spacing: 1px;
$border-radius: 10px;

// breakpoint

$breakPoint-tab: 600px;
$breakPoint-big: 900px;
$breakPoint-large: 1200px;
