/* features */
#galary {
  padding: 8rem 1rem;
  //   overflow: hidden;

  .section__title {
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 4rem;
    letter-spacing: $letter-spacing;
    text-shadow: 0 10px 0.4rem rgba(0, 0, 0, 0.3);
    transform: skewY(1.5deg);
    color: $color-dark-primary;
  }

  .grid__parent {
    max-width: 1200px;
    margin: 0 auto;
    color: $color-white-primary;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    .item__container {
      position: relative;
      overflow: hidden;

      .item__image {
        display: inline-block;
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        @include transform(scale(0.95));
        @include transition($transition-1);
      }
      .item__btn {
        color: rgba($color-dark-primary, 0.6);
        display: block;
      }
      @include response(lg) {
        .item__btn {
          position: absolute;
          color: $color-white-primary;

          z-index: -1;
          opacity: 0;
          top: 0;
          left: 0;
          width: 50%;
          height: 20%;
          background-color: rgba($color-dark-primary, 0.6);
          @include transition($transition-with-delay);
        }

        &:hover .item__image {
          transform: scale(1);
        }
        &:hover .item__btn {
          z-index: 1;
          opacity: 1;
        }
      }
    }

    .item__description {
      color: $color-black-primary;
      text-align: center;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: capitalize;
      .item__price {
        color: $color-secondary-1;
      }
    }
    .item__description p {
      padding: 0.3rem 0;
    }
  }
  .see__more {
    @extend %center-items;
    margin-top: $margin-big;

    a:link,
    a:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-dark-primary;
      padding: 0.5rem 0.2rem;
      border-bottom: 2px solid $color-black-primary;
      letter-spacing: $letter-spacing;
      font-weight: 500;
      @include transition($transition-1);
    }
    a:hover {
      background-color: $color-dark-primary;
      color: $color-white-primary;
    }
  }
}
