/* features */
#galary {
  padding: 5rem 1rem;
  //   overflow: hidden;

  .section__title {
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 4rem;
    letter-spacing: var(--letter-spacing);
    text-shadow: 0 10px 0.4rem rgba(0, 0, 0, 0.5);
    transform: skewY(1.5deg);
    color: $color-black-primary;
  }

  .grid__parent {
    max-width: 1200px;
    margin: 0 auto;
    color: var(--color-white-primary);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .item__container {
    position: relative;
    overflow: hidden;
  }
  .item__image {
    display: inline-block;
    width: 100%;
    transform: scale(0.95);
    transition: var(--transition-1);
  }

  .item__btn {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    transition: var(--transition-1);
  }

  .item__container:hover .item__image {
    transform: scale(1);
  }
  .item__container:hover .item__btn {
    z-index: 1;
    opacity: 1;
  }

  .item__description {
    color: var(--color-black-primary);
    text-align: center;
  }
  .item__description p {
    padding: 0.3rem 0;
  }
  .see__more {
    @extend %center-items;

    a:link,
    a:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-black-primary;
      padding: 0.5rem 0.2rem;
      border-bottom: 2px solid $color-black-primary;
      letter-spacing: $letter-spacing;
      font-weight: 500;
    }
    a:hover {
      background-color: $color-black-primary;
      color: $color-white-primary;
    }
  }
}
