.filter {
  @include response(lg) {
    .companies {
      display: flex;
      flex-direction: column;
      &--btn {
        font-size: 0.8rem;
        text-align: left;
        text-transform: capitalize;
        letter-spacing: 1px;

        border: none;
        box-shadow: none;
        margin-top: 0.5rem;
        padding: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
