@import url(../css/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap");
#galary .see__more {
  display: flex;
  justify-content: center;
  align-items: center; }

:root {
  --scale: $scale; }

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: calc(100% * 0.8); }
  @media screen and (min-width: 56.25em) {
    html {
      font-size: calc(100% * 1); } }
  @media screen and (min-width: 75em) {
    html {
      font-size: calc(100% * 1); } }

body {
  font-family: "Nunito sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--color-white-primary); }

#root {
  position: relative;
  overflow: hidden;
  width: 100%; }

.navigation .nav__list {
  font-size: 1rem; }

.navigation .nav__link:link,
.navigation .nav__link:visited {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px; }

.navigation .logo {
  font-family: "Nunito sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 3px; }

.navigation .cart__placeholder {
  font-size: 1.2rem; }

.navigation .cart__quantity {
  font-size: 0.8rem;
  color: #fff; }

.home__header .hero__text {
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 1px; }

.u-display-flex {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.picture-frame {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

.btn {
  box-shadow: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px; }

.btn--big {
  display: block; }

/* navigation*/
.navigation,
.product-navigation {
  position: relative;
  width: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  /* burger */ }
  @media screen and (min-width: 75em) {
    .navigation,
    .product-navigation {
      justify-content: initial; } }
  .navigation .burger,
  .product-navigation .burger {
    position: relative;
    width: 25px;
    height: 20px;
    z-index: 2; }
    @media screen and (min-width: 56.25em) {
      .navigation .burger,
      .product-navigation .burger {
        width: 30px; } }
    @media screen and (min-width: 75em) {
      .navigation .burger,
      .product-navigation .burger {
        display: none; } }
    .navigation .burger__line,
    .product-navigation .burger__line {
      width: 100%;
      height: 2px;
      background-color: #333;
      margin-bottom: 5px;
      -webkit-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
      .navigation .burger__line:not(:nth-child(2)),
      .product-navigation .burger__line:not(:nth-child(2)) {
        width: 50%; }
      .navigation .burger__line:last-child,
      .product-navigation .burger__line:last-child {
        margin-left: 50%;
        margin-bottom: 0; }
    .navigation .burger.toggle .burger__line,
    .product-navigation .burger.toggle .burger__line {
      position: absolute;
      top: 50%;
      width: 100%;
      margin-left: 0; }
    .navigation .burger.toggle .burger__line:nth-child(2),
    .product-navigation .burger.toggle .burger__line:nth-child(2) {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
    .navigation .burger.toggle .burger__line:first-child,
    .product-navigation .burger.toggle .burger__line:first-child {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .navigation .burger.toggle .burger__line:last-child,
    .product-navigation .burger.toggle .burger__line:last-child {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .navigation .logo,
  .product-navigation .logo {
    flex-basis: 50%;
    transform: matrix(1, -0.03, 0.04, 1, 0, 0); }
    .navigation .logo > *,
    .product-navigation .logo > * {
      display: inline-block;
      border: 2px solid #892628; }
    .navigation .logo > * + *,
    .product-navigation .logo > * + * {
      color: #e99453;
      border-color: #e99453;
      margin-left: 2rem;
      margin-top: -3px;
      border-top: 4px solid; }
  .navigation .nav,
  .product-navigation .nav {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 2rem 3rem;
    width: 100%;
    z-index: -2;
    opacity: 0;
    cursor: none;
    transform: translate(-100%);
    -webkit-transition: all 300ms ease-out 100ms;
    -ms-transition: all 300ms ease-out 100ms;
    -moz-transition: all 300ms ease-out 100ms;
    -o-transition: all 300ms ease-out 100ms;
    transition: all 300ms ease-out 100ms; }
    @media screen and (min-width: 37.5em) {
      .navigation .nav,
      .product-navigation .nav {
        width: 50%; } }
    @media screen and (min-width: 75em) {
      .navigation .nav,
      .product-navigation .nav {
        padding: 0;
        position: relative;
        flex-basis: 30%;
        z-index: 1;
        opacity: 1;
        cursor: pointer;
        background-color: transparent;
        transform: translate(0); } }
    .navigation .nav .nav__list,
    .product-navigation .nav .nav__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      @media screen and (min-width: 75em) {
        .navigation .nav .nav__list,
        .product-navigation .nav .nav__list {
          flex-direction: row; } }
      .navigation .nav .nav__list .nav__item,
      .product-navigation .nav .nav__list .nav__item {
        padding: 1rem 0; }
        .navigation .nav .nav__list .nav__item .nav__link:link,
        .navigation .nav .nav__list .nav__item .nav__link:visited,
        .product-navigation .nav .nav__list .nav__item .nav__link:link,
        .product-navigation .nav .nav__list .nav__item .nav__link:visited {
          display: inline-block;
          position: relative;
          width: 100%;
          height: 100%;
          color: #fff; }
          @media screen and (min-width: 75em) {
            .navigation .nav .nav__list .nav__item .nav__link:link,
            .navigation .nav .nav__list .nav__item .nav__link:visited,
            .product-navigation .nav .nav__list .nav__item .nav__link:link,
            .product-navigation .nav .nav__list .nav__item .nav__link:visited {
              color: #333; } }
          .navigation .nav .nav__list .nav__item .nav__link:link::after,
          .navigation .nav .nav__list .nav__item .nav__link:visited::after,
          .product-navigation .nav .nav__list .nav__item .nav__link:link::after,
          .product-navigation .nav .nav__list .nav__item .nav__link:visited::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            left: 0;
            bottom: -0.5rem;
            transform: scaleX(0);
            opacity: 0;
            -webkit-transition: all 200ms ease-out;
            -ms-transition: all 200ms ease-out;
            -moz-transition: all 200ms ease-out;
            -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out; }
            @media screen and (min-width: 75em) {
              .navigation .nav .nav__list .nav__item .nav__link:link::after,
              .navigation .nav .nav__list .nav__item .nav__link:visited::after,
              .product-navigation .nav .nav__list .nav__item .nav__link:link::after,
              .product-navigation .nav .nav__list .nav__item .nav__link:visited::after {
                background-color: #e99453; } }
        .navigation .nav .nav__list .nav__item:hover .nav__link::after,
        .product-navigation .nav .nav__list .nav__item:hover .nav__link::after {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1);
          opacity: 1; }
  .navigation .navtoggle,
  .product-navigation .navtoggle {
    background-color: #eb8536;
    z-index: 1;
    opacity: 1;
    transform: translate(0);
    cursor: pointer; }
    @media screen and (min-width: 75em) {
      .navigation .navtoggle,
      .product-navigation .navtoggle {
        background-color: transparent; } }

/* cart--placeholder */
.cart-placeholder {
  position: relative; }
  @media screen and (min-width: 75em) {
    .cart-placeholder {
      margin-left: auto; } }

.cart__quantity {
  position: absolute;
  background-color: #e99453;
  padding: 0.3rem;
  border-radius: 40%;
  top: -50%; }

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.lds-spinner {
  color: black;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite; }

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #333; }

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s; }

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s; }

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s; }

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s; }

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s; }

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s; }

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s; }

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s; }

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s; }

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s; }

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s; }

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s; }

@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* features */
#galary {
  padding: 4rem 1rem; }
  #galary .section__title {
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 4rem;
    letter-spacing: 1px;
    text-shadow: 0 10px 0.4rem rgba(0, 0, 0, 0.3);
    transform: skewY(1.5deg);
    color: #892628; }
  #galary .grid__parent {
    max-width: 1000px;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem; }
    #galary .grid__parent .item__container {
      position: relative;
      overflow: hidden; }
      #galary .grid__parent .item__container .item__image {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        -webkit-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out; }
      #galary .grid__parent .item__container .item__btn {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        overflow: hidden;
        align-items: center; }
        #galary .grid__parent .item__container .item__btn .btn {
          box-shadow: none;
          padding: 0.5rem 1rem;
          text-align: center;
          color: #892628;
          font-weight: 600; }
      @media screen and (min-width: 75em) {
        #galary .grid__parent .item__container .item__btn {
          justify-content: space-between;
          position: absolute;
          color: #fff;
          z-index: -1;
          opacity: 0;
          bottom: 10%;
          left: 0;
          width: 100%;
          height: 20%;
          background-color: rgba(137, 38, 40, 0.6);
          -webkit-transition: all 300ms ease-out 100ms;
          -ms-transition: all 300ms ease-out 100ms;
          -moz-transition: all 300ms ease-out 100ms;
          -o-transition: all 300ms ease-out 100ms;
          transition: all 300ms ease-out 100ms; }
          #galary .grid__parent .item__container .item__btn > * {
            -webkit-transition: all 300ms ease-out 100ms;
            -ms-transition: all 300ms ease-out 100ms;
            -moz-transition: all 300ms ease-out 100ms;
            -o-transition: all 300ms ease-out 100ms;
            transition: all 300ms ease-out 100ms;
            cursor: pointer; }
          #galary .grid__parent .item__container .item__btn--search {
            transform: translate(-120%); }
          #galary .grid__parent .item__container .item__btn--cart {
            transform: translate(120%); }
        #galary .grid__parent .item__container:hover .item__btn {
          z-index: 1;
          opacity: 1; }
        #galary .grid__parent .item__container:hover .item__btn .item__btn--search {
          transform: translate(0); }
        #galary .grid__parent .item__container:hover .item__btn .item__btn--cart {
          transform: translate(0); } }
    #galary .grid__parent .item .item__description {
      color: #333;
      text-align: center;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: capitalize; }
      #galary .grid__parent .item .item__description .item__price {
        color: #e99453; }
    #galary .grid__parent .item .item__description p {
      padding: 0.3rem 0; }
  #galary .see__more {
    margin-top: 1.8rem; }
    #galary .see__more a:link,
    #galary .see__more a:visited {
      display: inline-block;
      text-decoration: none;
      color: #892628;
      padding: 0.5rem 0.2rem;
      border-bottom: 2px solid #333;
      letter-spacing: 1px;
      font-weight: 500;
      -webkit-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
    #galary .see__more a:hover {
      background-color: #892628;
      color: #fff; }

@media screen and (min-width: 75em) {
  .filter .companies {
    display: flex;
    flex-direction: column; }
    .filter .companies--btn {
      font-size: 0.8rem;
      text-align: left;
      text-transform: capitalize;
      letter-spacing: 1px;
      border: none;
      box-shadow: none;
      margin-top: 0.5rem;
      padding: 0.5rem;
      cursor: pointer; } }

.home__header {
  color: #333;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  height: 90vh;
  /* header/hero  end*/ }
  .home__header > * {
    flex-basis: 100%; }
  .home__header .hero__text {
    line-height: 4rem;
    letter-spacing: 0.05em;
    font-family: "Kaushan Script", cursive;
    margin-bottom: 1.8rem;
    color: #e99453; }
  .home__header .hero__text-desc {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
    opacity: 0.7;
    letter-spacing: 1px; }
  .home__header .btn:link, .home__header .btn:visited {
    display: inline-block;
    color: #fff;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: #e99453;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
  .home__header .btn:hover {
    background-color: #eb8536; }
  .home__header .header__frame {
    display: none; }
  @media screen and (min-width: 56.25em) {
    .home__header .header__frame {
      display: block;
      position: relative;
      height: 100%; }
      .home__header .header__frame:after {
        content: " ";
        width: 15px;
        height: 100%;
        background-color: #892628;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4; }
      .home__header .header__frame .frame {
        border: 15px solid #892628;
        border-radius: 5px;
        box-shadow: 0 0 1.5rem rgba(51, 51, 51, 0.5); }
      .home__header .header__frame .frame__big {
        width: 100%;
        height: 100%; }
      .home__header .header__frame .frame__small {
        position: absolute;
        width: 20rem;
        height: 15rem;
        box-shadow: 0 0 1rem 0.5rem #e99453;
        box-shadow: 0 0 2rem rgba(51, 51, 51, 0.5); }
      .home__header .header__frame .frame__small--1 {
        left: -2rem;
        bottom: 5%; }
      .home__header .header__frame .frame__small--2 {
        right: -2rem;
        top: 5%; } }

.cart__overlay {
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(233, 148, 83, 0.4);
  -webkit-transform: translateX(120vw);
  -ms-transform: translateX(120vw);
  -moz-transform: translateX(120vw);
  -o-transform: translateX(120vw);
  transform: translateX(120vw);
  -webkit-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .cart__overlay.cart--open {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }

.cart__container {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  overflow-y: scroll; }
  @media screen and (min-width: 37.5em) {
    .cart__container {
      width: 50%;
      margin-left: auto; } }
  @media screen and (min-width: 56.25em) {
    .cart__container {
      width: 38%;
      margin-left: auto; } }
  .cart__container .cart__items,
  .cart__container .later__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center; }
  .cart__container .cart__item {
    min-width: 200px;
    max-width: 350px;
    padding: 1rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); }
    .cart__container .cart__item--img {
      min-width: 150px;
      height: 150px;
      border: 1px solid black;
      margin-right: 1.5rem; }
    .cart__container .cart__item--title, .cart__container .cart__item--available {
      text-transform: capitalize;
      margin-bottom: 0.3rem; }
    .cart__container .cart__item--available, .cart__container .cart__item--price {
      color: orangered; }
  .cart__container .item--grid {
    display: flex;
    align-items: center; }
  .cart__container .cart--img {
    display: inline-block;
    margin: auto;
    width: 90%;
    height: 90%;
    object-position: center;
    object-fit: cover; }
  .cart__container .cart__item--control {
    margin-top: 1rem; }
  .cart__container .cart__item--quantity {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 0.1px solid black;
    overflow: hidden;
    margin-bottom: 1rem; }
  .cart__container .minus-item,
  .cart__container .plus-item {
    border: 0;
    padding: 0.3rem 1rem; }
  .cart__container .delete__btn,
  .cart__container .save__btn {
    padding: 0.3rem 1rem;
    text-transform: capitalize; }
  .cart__container .cart--btn:hover {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.5), rgba(59, 59, 59, 0.5)); }

.cart__container--header {
  text-transform: capitalize;
  letter-spacing: 1px; }
  .cart__container--header .title > #total-items-price {
    color: #e99453; }
  .cart__container--header > .btn {
    width: 100%;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 2px;
    background-color: rgba(233, 148, 83, 0.9); }
    .cart__container--header > .btn:hover {
      background-color: #e99453; }

.cart--close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.2rem; }

#Home {
  color: #fff; }
  #Home .navigation {
    color: #333; }

@media screen and (min-width: 75em) {
  .product__page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 4rem; }
    .product__page #galary {
      padding-top: 0; } }
