:root {
  --color-white-primary: #fff;
  --color-black-primary: #333;

  --transition-1: all 200ms ease-out;

  --media-smallest: 31.25em;

  --margin-bottom: 1.2rem;
  --padding-button: 0.5rem 1.5rem;
  --letter-spacing: 1px;
  --border-radius: 10px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--color-white-primary);
}

/* navigation*/
.navigation {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* burger */
.burger {
  position: relative;
  padding: 0.5rem;
  z-index: 2;
}
.burger__line {
  width: 30px;
  height: 2px;
  background-color: var(--color-white-primary);
  margin-bottom: 5px;
  transition: var(--transition-1);
}
.burger__line:not(:nth-child(2)) {
  width: 15px;
}
.burger__line:last-child {
  margin-left: 50%;
  margin-bottom: 0px;
}
/* nav toggle */
.burger.toggle .burger:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

/* burger end */

/* logo */
#logo {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}
/* logo end */

/* nav list */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--color-white-primary);
  width: 100%;
  visibility: hidden;
}
.nav__list {
  list-style: none;
  font-size: 1.2rem;
  /* min-height: 11rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav__item {
  padding: 1rem 0;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: 450;
  letter-spacing: var(--letter-spacing);
  color: var(--color-white-primary);
}
.nav__link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: var(--color-white-primary);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transform: scaleX(0);
  opacity: 0;
  transition: var(--transition-1);
}
.nav__item:hover .nav__link::after {
  transform: scaleX(1);
  opacity: 1;
}
.nav-close {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 1.2rem;
}

/* nav list end */

/* cart--placeholder */
.cart-placeholder {
  position: relative;
  font-size: 1.2rem;
}

.cart__quantity {
  position: absolute;
  background-color: rgb(250, 25, 25);
  color: var(--color-white-primary);
  padding: 0.3rem;
  border-radius: 40%;
  top: -30%;
  font-size: 0.8rem;
}
/* cart placeholder  end*/

/* navigation ends */

/* home page */

/* header/hero */
.home__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg-1.jpg);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/bg-1.jpg);
  background-size: cover;
  background-position: center;
  color: var(--color-white-primary);
  height: 100vh;
}

.hero {
  padding: 0 2rem;
  position: relative;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -60%);
  text-align: center;
}
.hero__text {
  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: var(--letter-spacing);
  margin-bottom: var(--margin-bottom);
}
.hero__text-desc {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.9rem;
  opacity: 0.7;
  letter-spacing: var(--letter-spacing);
}
.btn:link,
.btn:visited {
  display: inline-block;
  color: var(--color-white-primary);
  padding: var(--padding-button);
  text-decoration: none;
  border: 2px solid var(--color-white-primary);
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 400;
  transition: var(--transition-1);
}

.btn:hover {
  background-color: var(--color-black-primary);
  border-color: var(--color-black-primary);
}

/* header/hero  end*/

/* features */
#galary {
  padding: 5rem 1rem;
  overflow: hidden;
}
.section__title {
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 4rem;
  letter-spacing: var(--letter-spacing);
  text-shadow: 0 10px 0.4rem rgba(0, 0, 0, 0.5);
  transform: skewY(1.5deg);
}

.grid__parent {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--color-white-primary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item__container {
  position: relative;
  overflow: hidden;
}
.item__image {
  display: inline-block;
  width: 100%;
  transform: scale(0.95);
  transition: var(--transition-1);
}

.item__btn {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  transition: var(--transition-1);
}

.item__container:hover .item__image {
  transform: scale(1);
}
.item__container:hover .item__btn {
  z-index: 1;
  opacity: 1;
}

.item__description {
  color: var(--color-black-primary);
  text-align: center;
}
.item__description p {
  padding: 0.3rem 0;
}

.see__more a:link,
.see__more a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-black-primary);
  padding: 0.5rem 0.2rem;
  border-bottom: 2px solid var(--color-black-primary);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}
.see__more a:hover {
  background-color: var(--color-black-primary);
  color: var(--color-white-primary);
}

/* galary */
/* features end*/
@media only screen and (min-width: 450px) {
  .navigation {
    justify-content: space-between;
    padding: 1rem 0;
  }
}
@media only screen and (min-width: 600px) {
  /* html {
    font-size: 110%;
  } */
  /* body {
    padding: 20px;
  } */

  .hero {
    text-align: left;
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 750px) {
  /* .home__header {
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  } */
  .burger {
    visibility: hidden;
    display: none;
  }
  .nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 2rem 3rem;
    background-color: transparent;
    color: var(--color-white-primary);
    width: auto;
    visibility: visible;
  }
  .nav__list {
    list-style: none;
    font-size: 1.2rem;
    /* min-height: 11rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__item {
    padding: 1rem 0;
    margin-right: 2rem;
  }

  .nav__link:link,
  .nav__link:visited {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 450;
    letter-spacing: var(--letter-spacing);
    color: var(--color-white-primary);
  }
  .nav__link::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--color-white-primary);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transform: scaleX(0);
    opacity: 0;
    transition: var(--transition-1);
  }
  .nav__item:hover .nav__link::after {
    transform: scaleX(1);
    opacity: 1;
  }
  .nav-close {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
  }

  .hero__text {
    font-size: 4rem;
  }
  .hero__text-desc {
    font-size: 2.5rem;
  }

  .section__title {
    font-size: 1.7rem;
    text-shadow: 0 0;
    transform: skewY(0);
    transition: var(--transition-1);
  }
  .section__title:hover {
    text-shadow: 0 10px 0.4rem rgba(0, 0, 0, 0.4);
    transform: skewY(2deg) skewX(2deg);
  }
  .see__more {
    margin-top: 1rem;
    text-align: center;
  }
}

/* home page end*/
